.btn{
    background-color: rgb(228, 185, 195);
    width: 60px;
    height: 36px;
    color: black;
    outline: none;
    border-radius: 4px;;
    size: 14px;
    font-weight: 700;
    border:  1px solid rgb(240, 174, 174);
}
.btns{
    // outline: none;
    background-color: rgb(167, 167, 212);
    // border-radius: 4px;;
    color: brown;
}